{# 
  Drop version number from the HTML documentation title
#}
{%- set docstitle = "Plone vs Facebook Documentation" %}

{% extends "!page.html" %}

{% block extrahead %}
<script type="text/javascript">

  // Store editor pop-up help state in localStorage 
  // so it does not re-pop-up itself between page loads.
  // Do not even to pretend to support IE gracefully.
  (function($) {
    
    $(document).ready(function() {
        var box = $("#editor-trap");
        var klass = "toggled";
        var storageKey = "toggled";

        function toggle() {
            box.toggleClass(klass);
            // Store the toggle status in local storage as "has value string" or null
            window.localStorage.setItem(storageKey, box.hasClass(klass) ? "toggled" : "not-toggled");
        }

        box.click(toggle);

        // Check the persistent state of the editor pop-up
        // Note that localStorage does not necessarily support boolean values (ugh!)
        // http://stackoverflow.com/questions/3263161/cannot-set-boolean-values-in-localstorage
        var v = window.localStorage.getItem(storageKey); 
        if(v == "toggled" || !v) {
          box.addClass(klass);
        }

    });

  })(jQuery);
</script>
{% endblock %}

{#
  Remove version number from the top and bottom path bars
#}
{%- block rootrellink %}
    <li><a href="{{ pathto(master_doc) }}">Home{{ reldelim1 }}</li>
{%- endblock %}

{#
  
  Add Editor Help Pop Up HTML.

  Enable Analytics tracking on the docs.


#}
{% block footer %}
{{ super() }}

<div id="editor-trap">
      <h3>Come modificare questo documento</h3>

      <p>
         Il codice sorgente di questo file è ospitato su GitHub. Tutti possono
         aggiornare e correggere gli errori in questo documento con pochi click.
         Non è necessario scaricare o installare nulla.
      <p>

      <ol>

        <li>
          Vai a 
        <a href="https://github.com/plone-it/collective.italiandocumentation/blob/master/source/{{ pagename }}.rst">
          {{ title }}
        </a> su GitHub.
      </li>

        <li>
          Premi il pulsante <b>Fork</b>. Questo creerà la tua copia personale di questa documentazione.
      </li>

        <li>
        <b>Modifica</b> i file utilizzando l'editor di testo di GitHub direttamente dal tuo browser.
      </li>

      <li>
        Scrivi un breve commento nel campo <b>Commit Message</b> in fondo alla pagina spiegando <i>perchè</i>
        hai apportato delle modifiche. Premi il pulsante <b>Propose file change</b> quando hai finito per
        proporre la tua modifica e richiedere che venga incorporata. 
      </li>


      <li>
        Fatto ciò arriverai alla pagina per inviare una richiesta di "pull" (lett. tirare, cioè unire le proprie modifiche) 
        dal titolo <i>Send a pull request</i>. Qui non sarà necessario scrivere altro, basta premere il pulsante <b>Send pull request</b>.
      </li>

      <li>
        Le tue modifiche verranno accodate per la revisione e le potrai vedere nel tab <a href="https://github.com/plone-it/collective.italiandocumentation/pulls">Pull requests</a> del progetto su Github.
      </li>
      </ol>

      <p>
        Per informazioni di base su come aggiornare questo manuale e sulla formattazione di Sphinx 
        dai un'occhiata alla sezione <a href="http://collective-docs.readthedocs.org/en/latest/writing/writing.html">
        Writing and updating the manual</a> della guida internazionale.
      </p>
      
  </div>

{% endblock %}
